.alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

  .eraserOne{
    box-shadow: inset 0px 0px 12px 8px #B79D79;
  }

  .eraserTwo{
    box-shadow: inset 0px 0px 12px 8px #B79D79;
  }


  .eraserOne:hover{
    box-shadow: 6px -6px 0px #3C3C3C, 8px 2px 52px rgba(255, 255, 255, 0.52), inset 0px 0px 12px 8px #B79D79;
  }

  .eraserTwo:hover{
    box-shadow: -6px -6px 0px #3C3C3C, 8px 2px 52px rgba(255, 255, 255, 0.52), inset 0px 0px 12px 8px #B79D79;
  }
  